.a{
    float: center;
    padding-top: 2px;
     padding-left: 30%;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif
     
  
}

.card-header{
    font-size:40px;
    background-color:lightgray;
    float: center;
    padding-left: 5%;
    font-family: 'Times New Roman', Times, serif
}
.card-body{
    padding-top: 30px;
}
.row-content{
    padding-top:30px; 
    float: center;
}
.card{
    border-color:rgb(203, 212, 229); 
}

.h1font{
    font-family: 'Aclonica';
}

.h4font{
    font-family: 'Orbitron', sans-serif;
    font-weight: 200;
}

.buttonfont{
  font-weight: 100;
}

.list-group-item-cu{
    position: relative;
    display: block;
    /* margin: 0.75rem 1.25rem; */
    background-color: #232323 !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding:0 !important;
  }

@media screen and (min-width: 576px) {
    h1.h1font {
      font-size: 30px;
    }
}

@media screen and (max-width: 575px) {
    h1.h1font {
      font-size: 20px;
    }
    button.buttonfont{
      font-size: 13px;
    }
}

@media screen and (min-width: 769px) {
    h1.h1font {
      font-size: 50px;
    }
}
  
@media screen and (min-width: 992px) {
    h1.h1font {
      font-size: 70px;
    }
}

@media screen and (min-width: 1400px) {
    h1.h1font {
      font-size: 80px;
    }
}