.a{
    float: center;
    padding-top: 2px;
     padding-left: 30%;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif
     
  
}

.card-header{
    font-size:40px;
    background-color:lightgray;
    float: center;
    padding-left: 5%;
    font-family: 'Times New Roman', Times, serif
}
.card-body{
    padding-top: 30px;
}
.row-content{
    padding-top:30px; 
    float: center;
}
.card{
    border-color:rgb(203, 212, 229); 
}