.a{
    float: center;
    padding-top: 2px;
     padding-left: 40%;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif
     
  
}
.vl{
border-left: 3px solid black;
height: 300px;
position: absolute ;
left:35%;
margin-left:-1px;
top:-1;
}
.card-header{
    font-size:40px;
    background-color:lightgray;
    float: center;
    padding-left: 5%;
    font-family: 'Times New Roman', Times, serif
}
.card-body{
    padding-top: 30px;
}
.row-content{
    padding-top:40px; 
    float: center;
}
.card{
    border-color:rgb(203, 212, 229); 
}